@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.hero {
    text-align: center;
    background: #E95420;
}

.hero img {
    width: 40%;
    height: auto;
}

.tribute-section {
    flex: 1;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: justify;
}

.tribute-section h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    text-align: center;
}

.tribute-section p {
    color: #666;
}

.page-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}